@import "../abstracts/variables";
@import "../abstracts/mixins";

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2.8rem 0;
  color: #fff;
  height: auto;
  flex-wrap: wrap;

  @include respond(mp) {
    flex-direction: column;
  }

  &__first {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: flex-start;

    @include respond(mp) {
      width: 100%;
      margin-bottom: 3rem;
    }
  }
  &__second {
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: flex-start;

    @include respond(mp) {
      width: 100%;
      margin-bottom: 3rem;
    }
  }
  &__third {
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    align-self: flex-start;

    @include respond(mp) {
      width: 100%;
    }
  }

  &--heading {
    font-size: 2.6rem;
    line-height: 1.5;
    color: $secondary-color;
  }

  &--list {
    list-style: none;
    font-size: 1.8rem;
    li {
      margin-top: 0.8rem;
    }
  }

  &--paragraph {
    list-style: none;
    font-size: 1.8rem;
    margin-top: 0.8rem;
  }
}
