@import "../abstracts/variables";

.newsletter {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 1rem;
  margin-top: 2rem;
  margin-bottom: 1rem;

  svg {
    color: $primary-color;
    font-size: 2rem;
    margin: 0 1rem;
  }

  input {
    height: 100%;
    outline: none;
    border: none;
  }
}
