@import "../abstracts/variables";

.slideshow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 2rem;

  &__indicators {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
    margin-right: auto;
    margin-left: auto;

    .circle {
      width: 1.7rem;
      height: 1.7rem;
      border-radius: 50%;
      border: 0.2rem solid $grey;
      cursor: pointer;

      &:nth-child(2) {
        margin: 0 1rem;
      }

      &.active {
        border-color: $primary-color;
      }
    }
  }

  &__arrows {
    display: flex;
    font-size: 2.4rem;
    color: $primary-color;
    margin-right: 10rem;
    cursor: pointer;

    .arrow {
      width: 5rem;
      height: 5rem;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: $secondary-color;

      &:first-child {
        margin-right: 2rem;
      }
    }
  }
}
