@import "../abstracts/variables";
@import "../abstracts/mixins";

.student {
  &__top {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 10rem;

    .paragraph {
      margin: 4rem 0;
    }
  }

  &__feedback {
    display: flex;
    align-items: center;
    justify-content: center;

    > div {
      display: none;
    }

    > div.active {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    &--left {
      @include respond(tp) {
        width: 70%;
      }

      @include respond(mp) {
        width: 100%;
      }
    }

    &--right {
      width: 80rem;
      height: 40rem;

      @include respond(tl) {
        width: 50%;
      }

      @include respond(mp) {
        width: 80%;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
      }
    }
  }

  &--name {
    font-size: 3.6rem;
  }

  &--faculty {
    font-size: 2.4rem;
    margin-top: 1rem;
    color: $grey;
  }

  &--saying {
    font-size: 1.8rem;
    line-height: 1.5;
    border-left: 0.4rem solid darken($secondary-color, 40%);
    padding: 1rem;
    margin: 2rem 10rem;
    font-size: 2.4rem;

    @include respond(tp) {
      margin: 3rem;
    }

    @include respond(mp) {
      margin: 1rem;
    }
  }
}
