@import "../abstracts/variables";

.text-area {
  &--default {
    resize: none;
    height: 20rem;
    outline: none;
    border: none;
    border: 0.3rem solid $light-grey;
    padding: 0.8rem 1rem;
    border-radius: 0.6rem;

    &:focus {
      border-color: $blue;
    }
  }
}
