$primary-color: #1778f2;
$primary-light-color: lighten($primary-color, 45%);
$secondary-color: #e9e2d9;
$light-grey: #8d8d8d;
$grey: darken(#e5e5e5, 30%);
$red: #f32727;
$blue: #05c5ff;
$purple: #576ccc;
$dark-white: #f6f8fa;
$white: #fff;
$black: #000;
$primary-typo-color: #4f6582;
