@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700;800;900&family=Work+Sans:wght@200;300;400;500;600;700&display=swap");
@import "../abstracts/mixins";

*,
*::after,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

ul {
  list-style: none;
}

html {
  font-size: 62.5%;
  font-family: "Raleway", sans-serif;

  @include respond(tl) {
    font-size: 50%;
  }

  @include respond(mp) {
    font-size: 40%;
  }
}

body {
  box-sizing: border-box;
}
